.inner-circle {
  // make it a circle
 	border-radius: 50%;
	width: 50%;
	height: 50%;

  // vertical + horizontal centering
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  z-index: 10;

  background: slategray;
  border: solid 2vw black;
}

.simon-logo {
  text-align: center;
  font-size: 6.5vw;
  font-weight: bold;
  margin-top: 2.9vw;
}

.middle-row {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: -4vw 2vw 0vw 2vw;

}

.count, .start, .strict {
  //background: red;
  flex-grow: 1;
  align-self: flex-end;
}

.count-text, .start-text, .strict-text {
  margin-top: 0.5vw;
  font-size: 1.5vw;
}

.count-counter {
  background-color: black;

  // positioning
  height: 4vw;
  width: 6vw;
  margin: auto;

  border-radius: 0.75vw;

  // text stuff
  color: red;
  font-size: 2.5vw;
  font-family: 'Orbitron', sans-serif;
  line-height: 4.5vw;
}

.button {
  height: 3vw;
  width: 3vw;
  margin: auto;

  border: solid 5px #232323;

  border-radius: 50%;
}

.start-button {
  background: red;
}

.strict-button {
  background: yellow;
}

.strict-indicator {
  height: 1vw;
  width: 1vw;
  margin: auto;
  margin-bottom: 5px;

  border: solid 0.2vw black;
  border-radius: 50%;
}
.on {
  background: red;
}
