$green: #00A74A;
$red: #9F0F17;
$yellow: #CCA707;
$blue: #094A8F;

.response-button {
  position: absolute;
  width: 50%;
  height: 50%;

  border: solid 2vh #333333;
  box-sizing: border-box;

  z-index: 5;
}

.highlight-red {
  background: lighten($red, 20%) !important;
}

.highlight-green {
  background: lighten($green, 20%) !important;
}

.highlight-blue {
  background: lighten($blue, 20%) !important;
}

.highlight-yellow {
  background: lighten($yellow, 20%) !important;
}

.clickable-red:active {
  background: lighten($red, 20%);
}

.clickable-green:active {
  background: lighten($green, 20%);
}

.clickable-blue:active {
  background: lighten($blue, 20%);
}

.clickable-yellow:active {
  background: lighten($yellow, 20%);
}

.green {
  top: 0;
  left: 0;
  background-color: $green;
  border-radius: 100% 0 0 0;
}

.red {
  top: 0;
  right: 0;
  background-color: $red;
  border-radius: 0 100% 0 0;
}

.yellow {
  bottom: 0;
  left: 0;
  background-color: $yellow;
  border-radius: 0 0 0 100%;
}

.blue {
  bottom: 0;
  right: 0;
  background-color: $blue;
  border-radius: 0 0 100% 0;
}
